# CMake
/cmake-build-*/

# Rider
.idea/
*.sln
*.user
*.suo

# Visual Studio
.vs/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.cache
*.VC.VC.opendb
*.vcxproj.user
*.vcxproj.filters
ipch/

# Misc
.DS_Store
Thumbs.db
